<div class="card page-footer bg-dark text-white mt-5">
    <div class="card-body footer">
        <div class="container">
            <h5 class="card-title">Phil Stubbs</h5>
            <p class="card-text">Code Nerd | Awesome Dev | Tech Writer </p>
            <small>philipstubbs13@gmail.com</small>
            <br>
            <small>© 2018 Phil Stubbs</small> 
            <div>
                <small>Favicon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></small>
            </div>
        </div>
    </div>
</div>
