<nav class="navbar navbar-expand-sm navbar-light bg-dark text-white">
    <div class="container">
        <a class="navbar-brand text-white" href="/home">Phil Stubbs</a>
        <div id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mr-2 active">
                    <a class="nav-link text-white" href="/home">Home
                    </a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link text-white" href="/about">About
                    </a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link text-white" href="/code">Code</a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link text-white" href="/writing">Writing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>