<nav class="navbar navbar-expand-sm navbar-light bg-dark text-white">
    <div class="container">
        <a class="navbar-brand text-white" href="/home">Phil Stubbs</a>
        <button class="btn btn-primary" id="logout" onclick="logout()">Logout</button>
    </div>
</nav>