{{!-- Display this if user is not authenticated. --}}
<div class="not-authenticated main-content-section">
    <h3 id="heading">Log in to check out my site!</h3>
    <div id="profile">

    </div>
    <div id="feed"></div>
</div>