<div class="card page-right">
    <div class="card-header bg-primary text-white">
        <h5>Resume</h5>
    </div>
    <div class="card-body text-center">
        <h5>Click below to download PDF version of resume.</h5>
        <a class="nav-link text-white btn btn-primary mt-5" href="./assets/resume.pdf" target="_blank">Resume</a>
    </div>
</div>