<div class="card home-right">
    <div class="card-header bg-primary text-white">
        <h5>Stay connected!</h5>
    </div>
    <div class="card-body">
        <p class="lead mt-3">
            <a class="pr-2 social" href="https://github.com/philipstubbs13" target="_blank">
                <img src="assets/images/if_mark-github_298822.svg" alt="GitHub icon" id="github-logo">
            </a>
            <a class="pr-2 social" href="https://www.linkedin.com/in/philipjstubbs/" target="_blank">
                <img src="assets/images/if_Linkedin_381380.svg" alt="LinkedIn icon" id="linkedin-logo">
            </a>
            <a class="pr-2 social" href="https://www.facebook.com/phil.stubbs.13" target="_blank">
                <img src="assets/images/if_Facebook_381389.svg" alt="Facebook icon" id="facebook-logo">
            </a>
            <a class="social" href="https://twitter.com/iamPhilStubbs" target="_blank">
                <img src="assets/images/if_Twitter_381374.svg" alt="Twitter icon" id="twitter-logo">
            </a>
        </p>
    </div>
</div>