<div class="social-container">
    <header>
        <h1>Follow me on social media</h1>
    </header>
    <ul class="accordion">
        <li class="tab">
            <div class="social twitter">
                <a 
                href="https://twitter.com/iamPhilStubbs" target="_blank">Twitter</a>
            </div>
            <div class="content">
                <h1>Twitter</h1>
                <p>Follow me on Twitter for updates, articles, blog shares, and more</p>
            </div>
        </li>
        <li class="tab">
            <div class="social facebook">
                <a 
                href="https://www.facebook.com/phil.stubbs.13" target="_blank">Facebook</a>
            </div>
            <div class="content">
                <h1>Facebook</h1>
                <p>Follow me on Facebook to learn more about me when I am not coding.</p>
            </div>
        </li>
        <li class="tab">
            <div class="social linkedin">
                <a 
                href="https://www.linkedin.com/in/philipjstubbs/" target="_blank">LinkedIn</a>
            </div>
            <div class="content">
                <h1>LinkedIn</h1>
                <p>Connect with me on a professional level.</p>
            </div>
        </li>
        <li class="tab">
            <div class="social github">
                <a 
                href="https://github.com/philipstubbs13" target="_blank">GitHub</a>
            </div>
            <div class="content">
                <h1>GitHub</h1>
                <p>Check out my GitHub for my personal projects and what I am learning next.</p>
            </div>
        </li>
    </ul>
</div>