<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Phil Stubbs Code Nerd | Awesome Dev | Tech Writer</title>

    <link rel="icon" href="assets/images/favicon.png" type="image/png" />

    <link href="https://fonts.googleapis.com/css?family=Reem+Kufi|Roboto:300" rel="stylesheet">

    <!--Viewport for making app responsive on mobile and tablet devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Landing page CSS-->
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/landing_page.css">
    <link rel="stylesheet" href="assets/css/themes/white-blue.css">

    <!--Font awesome-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
		crossorigin="anonymous">

</head>
	<body>

		{{{ body }}}
    
	</body>
</html>