<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Phil Stubbs Code Nerd | Awesome Dev | Tech Writer</title>

    <link rel="icon" href="assets/images/favicon.png" type="image/png" />

    <!--Google Fonts: Lato-->
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <!--Viewport for making app responsive on mobile and tablet devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--JQuery link-->
    <script src="https://code.jquery.com/jquery.js"></script>

    <!--External CSS-->
    <link rel="stylesheet" href="./assets/css/style.css" type="text/css" />

    <!--Reset CSS-->
    {{!-- <link rel="stylesheet" href="./assets/css/reset.css" type="text/css" /> --}}

    <!--Font awesome-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
		crossorigin="anonymous">

    <!--Bootstrap CDN link-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

</head>
	<body class="Site">

		{{{ body }}}
    
	</body>
</html>