<!--Navbar-->
{{> portfolio/navbar-block }}

<div class="container page-wrap main-content-section">
    <div class="row">
        <div class="col-md-12 mt-3 text-center" id="contact">
            <h1>Let's talk!</h1>
            <h2>Want to get in touch or talk to me about a project?</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 mb-3">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5>Contact</h5> 
                </div>
                <div class="card-body">
                    <div class="email-contact mt-3">
                        <h3 class="mb-2">
                            <i class="fas fa-envelope"></i> Email</h3>
                        <h5>philipstubbs13@gmail.com</h5>
                    </div>
                    <div class="phone-contact mt-5">
                        <h3 class="mb-2">
                            <i class="fas fa-mobile"></i> Phone</h3>
                        <h5>952-454-3933</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5>Resume</h5>
                </div>
                <div class="card-body text-center">
                    <h5>Click below to download PDF version of resume.</h5>
                    <a class="nav-link text-white btn btn-primary mt-5" href="./assets/resume.pdf" target="_blank">Resume</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5>Stay connected!</h5>
                </div>
                <div class="card-body">
                    <p class="lead mt-3">
                        <a class="pr-2 social" href="https://github.com/philipstubbs13" target="_blank">
                            <img src="assets/images/if_mark-github_298822.svg" alt="GitHub icon" id="github-logo">
                        </a>
                        <a class="pr-2 social" href="https://www.linkedin.com/in/philipjstubbs/" target="_blank">
                            <img src="assets/images/if_Linkedin_381380.svg" alt="LinkedIn icon" id="linkedin-logo">
                        </a>
                        <a class="pr-2 social" href="https://www.facebook.com/phil.stubbs.13" target="_blank">
                            <img src="assets/images/if_Facebook_381389.svg" alt="Facebook icon" id="facebook-logo">
                        </a>
                        <a class="social" href="https://twitter.com/iamPhilStubbs" target="_blank">
                            <img src="assets/images/if_Twitter_381374.svg" alt="Twitter icon" id="twitter-logo">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Footer-->
{{> portfolio/footer-block}}