<!--Navbar-->
{{> portfolio/navbar-block }}

<!--Introduction/Bio section-->
<main>	
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h5>About me</h5>
                    </div>
                    <div class="card-body">
                        <p>Ever since I was young, I have always been adventurous and bold in trying something new no matter how difficult it was to learn.</p>
                        <p> As a kid, I liked challenging myself to explore new opportunities whether it be learning another language, learning how to play piano, trying out for the basketball team despite not being as tall as other players, or striving to be one of the best chess players at school. I always found different ways to solve problems whether it be figuring out how to solve a difficult problem in math class, how to be a couple moves ahead of my chess opponent, or how to be an efficient three point shooter on the basketball court.</p>
                        <p> Exploration, determination, and strategic thinking have been and still are a big part of who I am. My passion to explore new territories and figure out complex problems is what sparked my interest in coding.</p>
                        <p>As a result, I enrolled in the University of Minnesota coding boot camp in 2017. Since enrolling, my passion for learning about technologies like CSS and Javascript continues to grow. My interest in how those technologies impact the design and user experience of the web is why I'm excited to continue learning more.</p>
                        <a href="/about" class="btn btn-primary">MORE ABOUT ME</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h5><i class="fas fa-toolbox"></i> Toolbox</h5>
                    </div>
                    <div class="card-body">
                        <h5>Click an icon to learn more...</h5>
                        <h3>Front end</h3>
                        <hr>
                        <p class="lead">
                            <a class="pr-2 social" href="https://en.wikipedia.org/wiki/HTML" target="_blank" data-toggle="tooltip" data-placement="top" title="HTML">
                                <img class="toolbox-icon rounded" src="assets/images/html.png" alt="HTML icon" id="html-icon">
                            </a>
                            <a class="pr-2 social" href="https://css-tricks.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="CSS">
                                <img class="toolbox-icon rounded" src="assets/images/css.png" alt="css icon" id="css-icon">
                            </a>		
                            <a class="pr-2 social" href="https://reactjs.org/" target="_blank" data-toggle="tooltip" data-placement="top" title="React">
                                <img class="toolbox-icon rounded" src="assets/images/react.png" alt="react icon" id="react-icon">
                            </a>

                            <a class="pr-2 social" href="https://en.wikipedia.org/wiki/JavaScript	" target="_blank" data-toggle="tooltip" data-placement="top" title="JavaScript">
                                <img class="toolbox-icon rounded" src="assets/images/javascript.png" alt="javascript icon" id="javascript-icon">
                            </a>
                            <a class="pr-2 social" href="https://jquery.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="jQuery">
                                <img class="toolbox-icon rounded" src="assets/images/jquery.png" alt="jquery icon" id="jquery-icon">
                            </a>
                            <a class="pr-2 social" href="https://getbootstrap.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="Bootstrap">
                                <img class="toolbox-icon rounded" src="assets/images/bootstrap.png" alt="bootstrap icon" id="bootstrap-icon">
                            <a class="pr-2 social" href="http://handlebarsjs.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="Handlebars">
                                <img class="toolbox-icon rounded" src="assets/images/handlebars.png" alt="handlebars icon" id="handlebars-icon">
                            </a>
                            <a class="pr-2 social" href="https://semantic-ui.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="Semantic UI">
                                <img class="toolbox-icon rounded" src="assets/images/semanticui.png" alt="semantic ui icon" id="semanticui-icon">
                            </a>
                            <a class="pr-2 social" href="https://material-ui-next.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="Material UI Next">
                                <img class="toolbox-icon rounded" src="assets/images/materialui.png" alt="materialui icon" id="materialui-icon">
                            </a>
                            <a class="pr-2 social" href="https://materializecss.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="Materialize">
                                <img class="toolbox-icon rounded" src="assets/images/materialize.png" alt="materialize icon" id="materialize-icon">
                            </a>
                            <a class="pr-2 social" href="https://en.wikipedia.org/wiki/Responsive_web_design" target="_blank" data-toggle="tooltip" data-placement="top" title="Responsive web design">
                                <img class="toolbox-icon rounded" src="assets/images/responsive.png" alt="responsive icon" id="responsive-icon">
                            </a>
                        </p>
                        <br>
                        <h3>Back end</h3>
                        <hr>
                        <p class="lead">
                            <a class="pr-2 social" href="https://nodejs.org/en/" target="_blank" data-toggle="tooltip" data-placement="top" title="Node.js">
                                <img class="toolbox-icon rounded" src="assets/images/node.png" alt="node icon" id="node-icon">
                            </a>
                            <a class="pr-2 social" href="https://firebase.google.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="Firebase">
                                <img class="toolbox-icon rounded" src="assets/images/firebase.png" alt="firebase icon" id="firebase-icon">
                            </a>
                            <a class="pr-2 social" href="https://www.mysql.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="MySQL">
                                <img class="toolbox-icon rounded" src="assets/images/mysql.png" alt="mysql icon" id="mysql-icon">
                            </a>
                            <a class="pr-2 social" href="https://www.mongodb.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="MongoDB">
                                <img class="toolbox-icon rounded " src="assets/images/mongo.png" alt="mongodb icon" id="mongodb-icon">
                            </a>
                            <a class="pr-2 social" href="https://en.wikipedia.org/wiki/JSON" target="_blank " data-toggle="tooltip" data-placement="top" title="JSON">
                                <img class="toolbox-icon rounded" src="assets/images/json.png" alt="json icon " id="json-icon ">
                            </a>
                            <a class="pr-2 social" href="https://en.wikipedia.org/wiki/Application_programming_interface" target="_blank " data-toggle="tooltip" data-placement="top" title="APIs">
                                <img class="toolbox-icon rounded" src="assets/images/api.png" alt="api icon" id="api-icon">
                            </a>
                            <a class="pr-2 social" href="https://expressjs.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="Express">
                                <img class="toolbox-icon rounded" src="assets/images/express.png" alt="express icon" id="express-icon">
                            </a>
                            <a class="pr-2 social" href="http://mongoosejs.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="Mongoose">
                                <img class="toolbox-icon rounded" src="assets/images/mongoose.png" alt="mongoose icon" id="mongoose-icon">
                            </a>
                            <a class="pr-2 social" href="http://docs.sequelizejs.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="Sequelize">
                                <img class="toolbox-icon rounded" src="assets/images/sequelize.png" alt="sequelize icon" id="sequelize-icon">
                            </a>
                            <a class="pr-2 social " href="https://en.wikipedia.org/wiki/Representational_state_transfer" target="_blank " data-toggle="tooltip" data-placement="top" title="REST APIs">
                                <img class="toolbox-icon rounded" src="assets/images/rest.png" alt="rest api icon" id="rest-api-icon">
                            </a>
                            <a class="pr-2 social " href="http://www.passportjs.org/" target="_blank " data-toggle="tooltip" data-placement="top" title="Passport.js">
                                <img class="toolbox-icon rounded" src="assets/images/passport.png" alt="passport.js icon" id="passport-icon">
                            </a>
                        </p>
                        <br>
                        <h3>Version control</h3>
                        <hr>
                        <p class="lead">
                            <a class="pr-2 social" href="https://en.wikipedia.org/wiki/Git" target="_blank" data-toggle="tooltip" data-placement="top" title="Git">
                                <img class="toolbox-icon rounded" src="assets/images/git.png" alt="git icon" id="git-icon">
                            </a>
                            <a class="pr-2 social" href="https://github.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="GitHub">
                                <img class="toolbox-icon rounded" src="assets/images/github.png" alt="github icon" id="github-icon">
                            </a>
                            <a class="pr-2 social" href="https://www.visualstudio.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="Visual Studio">
                                <img class="toolbox-icon rounded" src="assets/images/visual_studio.png" alt="visual studio icon" id="vs-icon">
                            </a>
                            <a class="pr-2 social" href="https://subversion.apache.org/" target="_blank" data-toggle="tooltip" data-placement="top" title="Apache Subversion">
                                <img class="toolbox-icon rounded" src="assets/images/svn.png" alt="subversion icon" id="svn-icon">
                            </a>
                        </p>
                        <br>
                        <h3>Tech writing</h3>
                        <hr>
                        <p class="lead">
                            <a class="pr-2 social" href="https://xmetal.com/" target="_blank" data-toggle="tooltip" data-placement="top"
                                title="XMetaL XML Editor">
                                <img class="toolbox-icon rounded" src="assets/images/xmetal.png" alt="xmetal icon" id="xmetal-icon">
                            </a>
                            <a class="pr-2 social" href="https://www.ptc.com/en/products/service-lifecycle-management/arbortext/editor" target="_blank" data-toggle="tooltip" data-placement="top" title="Arbortext Editor">
                                <img class="toolbox-icon rounded" src="assets/images/arbortext.png" alt="arbortext icon" id="arbortext-icon">
                            </a>
                            <a class="pr-2 social" href="https://www.acrolinx.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="Acrolinx">
                                <img class="toolbox-icon rounded" src="assets/images/acrolinx.png" alt="acrolinx icon" id="acrolinx-icon">
                            </a>
                            <a class="pr-2 social" href="https://www.oxygenxml.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="Oxygen XML Editor">
                                <img class="toolbox-icon rounded" src="assets/images/oxygen.png" alt="oxygen icon" id="oxygen-icon">
                            </a>
                            <a class="pr-2 social" href="https://www.xml.com/articles/2017/01/19/what-dita/" target="_blank" data-toggle="tooltip" data-placement="top" title="DITA (Darwin Information Typing Architecture">
                                <img class="toolbox-icon rounded" src="assets/images/dita.png" alt="dita icon" id="dita-icon">
                            </a>
                            <a class="pr-2 social" href="https://en.wikipedia.org/wiki/Adobe_FrameMaker" target="_blank" data-toggle="tooltip" data-placement="top" title="Adobe FrameMaker">
                                <img class="toolbox-icon rounded" src="assets/images/framemaker.png" alt="framemaker icon" id="framemaker-icon">
                            </a>
                            <a class="pr-2 social" href="https://docs.sdl.com/LiveContent/content/en-US/SDL%20LiveContent%20full%20documentation-v1/GUID-1AD69A6E-29C2-4635-B6E3-782F8DFDE699" target="_blank" data-toggle="tooltip" data-placement="top" title="SDL Publication Manager">
                                <img class="toolbox-icon rounded" src="assets/images/sdl.png" alt="sdl icon" id="sdl-icon">
                            </a>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h5>Hi, I'm Phil</h5>
                    </div>
                    <div class="card-body text-center">
                        <img class="rounded img-fluid mb-3 mr-3" src="assets/images/me.jpg" alt="Phil Stubbs selfie" id="headshot">
                    </div>
                </div>
                <!--Link to download resume goes here-->
                {{> portfolio/resume-block}}

                <!--Links to social media-->
                {{> portfolio/social-block}}

                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h5>Education</h5>
                    </div>
                    <div class="card-body">
                        <p><i class="fas fa-graduation-cap"></i> University of Minnesota​, Full Stack Web Development Certificate; Completed May 2018
                        </p>
                        <p><i class="fas fa-graduation-cap"></i> University of Minnesota,​ B.S. in Scientific and Technical Communication; Graduated August 2013
                            </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h5>Q & A</h5>
                    </div>
                    <div class="card-body">
                        <h5>If money were not an issue, what would you be doing right now?</h5>
                        <p>
                        Coding, running, or playing basketball.
                        </p>
                        <h5>What words of advice would you give your younger self?</h5>
                        <p>
                        Alway try new things, and don't be afraid to strikeout in baseball and in life.
                        </p>
                        <h5>What's the best way for people to get in touch with you?</h5>
                        <p>
                        Email (philipstubbs13@gmail.com) and social media (mainly, LinkedIn and Facebook).
                        </p>
                        <h5>Who do you most admire?</h5>
                        <p>
                        Mark Zuckerberg
                        </p>
                        <h5>What aspect of your work are you most passionate about?</h5>
                        <p>Improving the user experience of an application or website.</p>
                        <h5>What words of wisdom do you live by?</h5>
                        <p>Just do it (Nike slogan).</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                
            </div>
        </div>
    </div>
</main>

<!--Footer-->
{{> portfolio/footer-block}}