    <main>
        <div class="intro">Need an app?</div>
        <div class="name">Phil Stubbs</div>
        <div class="tagline">Code Nerd | Awesome Dev | Tech Writer </div>
        <a class="button" href="/toggle">
            CONTINUE TO SITE
        </a>

        <!--Social media accordion-->
        {{> social-accordion }}
    </main>