    <main>
        <div class="intro">Hello, I'm Phil!</div>
        <div class="tagline">Code Nerd | Awesome Dev | Tech Writer </div>
        <a class="button" href="/toggle">
            CONTINUE TO SITE
        </a>
        <!-- Find your icons from here - https://fontawesome.com/icons?d=gallery&s=brands -->
        <div class="icons-social">
            <a target="_blank" href="https://github.com/philipstubbs13">
                <i class="fab fa-github"></i>
            </a>
            <a target="_blank" href="https://twitter.com/iamPhilStubbs">
                <i class="fab fa-twitter"></i>
            </a>
            <a target="_blank" href="https://www.facebook.com/phil.stubbs.13">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/philipjstubbs/">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </main>