    <main>
        <div class="intro">Sorry, this page could not be found.</div>
        <div class="tagline">The page you are looking for might have been deleted, moved, or does not exist.</div>
        <a class="button" href="/home">
            CLICK HERE TO GO BACK TO SITE
        </a>
        <!-- Find your icons from here - https://fontawesome.com/icons?d=gallery&s=brands -->
        <div class="icons-social">
            <a target="_blank" href="https://github.com/philipstubbs13">
                <i class="fab fa-github"></i>
            </a>
            <a target="_blank" href="https://twitter.com/iamPhilStubbs">
                <i class="fab fa-twitter"></i>
            </a>
            <a target="_blank" href="https://www.facebook.com/phil.stubbs.13">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/philipjstubbs/">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </main>