<div class="container">
    <div class="split left">
        <h1>The Writer</h1>
        <a href="/writing" class="button">Learn More</a>
    </div>
    <div class="split right">
        <h1>The Developer</h1>
        <a href="/code" class="button">Learn More</a>
    </div>
</div>