<!--Navbar-->
{{> portfolio/navbar-block }}

{{!-- Display if user is not authenticated --}}
{{> portfolio/not-authenticated }}

{{!-- Display if user is authenticated. --}}
<div class="container page-wrap main-content-section authenticated">
    <!--Navigation-->
    {{> portfolio/navbar2-block }}

    <!--Portfolio pieces-->
    <div class="row">
        <div class="col s12 mt-3 text-center animated fadeInDown" id="projects">
            <h1>Writing portfolio</h1>
        </div>
    </div>

    <!--Portfolio pieces-->
    <div class="row mb-4">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5>Technical writing projects</h5>
                </div>
                <div class="card-body">
                    <p>Over the past few years, I’ve worked on and published many types of customer facing technical documents, including install guides, user guides, configuration guides, release notes, online help, and reference material. Sometimes, the writing work was more of an individual effort, and other times, the projects I worked on required me to work closely with engineers, developers, human factors, and other writers to meet the project release date.</p>
                    <p>
                    The following samples are from several recent projects I worked on. I want to mention that I rarely worked on a document one at at time from start to finish. I often found myself having to work on many documents at once covering different topics and products. So, these samples not only represent my writing and editing skills, but they also illustrate my ability to prioritize multiple tasks and deadlines by delivering each document on time for each release in a fast-paced environment.
                    </p>
                    <div class="writing-type">
                        <h3>Online Help</h3>
                        <hr>
                        <p>
                            <a href="./assets/writing_projects/Paceart_help_1_7.pdf" target="_blank">Paceart Optima System Software Online Help/User Manual</a>
                        </p>
                        <p>
                            <a href="./assets/writing_projects/LCMHP_12212.pdf" target="_blank">FMW Composer Online Help</a>
                        </p>
                        <p>
                            <a href="./assets/writing_projects/RCUUG_12212.pdf" target="_blank">Creating Schemas with the Repository Creation Utility</a>
                        </p>
                        <p>
                            <a href="./assets/writing_projects/LMM_online_help.pdf" target="_blank">Reveal LINQ Mobile Manager Online Help</a>
                        </p>
                        <br>
                    </div>
                    <div class="writing-type">
                        <h3>Installation</h3>
                        <hr>
                        <p>
                            <a href="./assets/writing_projects/Paceart_install_1_7.pdf" target="_blank">Paceart Optima System Software Installation and Configuration Instructions</a>
                        </p>
                        <p>
                            <a href="./assets/writing_projects/INGGT_12212.pdf" target="_blank">Installing Oracle GoldenGate Studio</a>
                        </p>
                        <p>
                            <a href="./assets/writing_projects/inoam_11123.pdf" target="_blank">Installation Guide for Oracle Identity and Access Management</a>
                        </p>
                        <p>
                            <a href="./assets/writing_projects/ASINS_12212.pdf" target="_blank">Planning an Installation of Oracle Fusion Middleware</a>
                        </p>
                        <p>
                            <a href="./assets/writing_projects/mainspring_carelink_install_1_7.pdf" target="_blank">Mainspring Data Express CareLink Integration Software Installation and Configuration Manual</a>
                        </p>
                        <br>
                    </div>
                    <div class="writing-type">
                    <h3>User and Reference Material</h3>
                        <hr>
                        <p>
                            <a href="./assets/writing_projects/OPATC_12212.pdf" target="_blank">Patching with OPatch</a>
                        </p>
                        <p>
                            <a href="./assets/writing_projects/OUIRF_12212.pdf" target="_blank">Installing Software with the Oracle Universal Installer</a>
                        </p>
                        <p>
                            <a href="./assets/writing_projects/IDMCK_12212.pdf" target="_blank">Verifying Your Oracle Identity and Access Management Environment</a>
                        </p>
                        <br>
                    </div>
                    <div class="writing-type">
                        <h3>Configuration and Administration</h3>
                        <hr>
                        <p>
                            <a href="./assets/writing_projects/LCMCG_12212.pdf" target="_blank">Configuring Oracle Fusion Middleware Using the Lifecycle Management Tools</a>
                        </p>
                        <p>
                            <a href="./assets/writing_projects/mainspring_connectivity_1_7.pdf" target="_blank">Mainspring Data Express Connectivity Guide</a>
                        </p>
                        <br>
                    </div>
                    <div class="writing-type">
                        <h3>Release Notes and Errata Sheets</h3>
                        <hr>
                        <p>
                            <a href="./assets/writing_projects/RNINF_12212.pdf" target="_blank">Release Notes for Oracle Fusion Middleware Infrastructure</a>
                        </p>
                        <p>
                            <a href="./assets/writing_projects/Android_errata_sheet.pdf" target="_blank">Software Errata Sheet for the MSW001 Reveal LINQ Mobile Manager Application</a>
                        </p>
                        <p>
                            <a href="./assets/writing_projects/iOS_errata_sheet.pdf" target="_blank">Software Errata Sheet for the MSW002 Reveal LINQ Mobile Manager Application</a>
                        </p>
                        <br>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5>Academic writing projects</h5>
                </div>
                <div class="card-body">
                    <p>At the University of Minnesota, I completed several major writing assignments covering different topics and subject areas, such as analyzing the usability of everyday objects, exploring current issues in science and technology, and putting together a set of instructions. I’ve included a representative sample of my academic writing to highlight what I’ve learned and taken away from my studies.
                    </p>
                    <div class="writing-type">
                        <h3>Heuristic Evaluation</h3>
                        <hr>
                        <p>
                            <a href="./assets/writing_projects/academic/heuristic_evaluation.pdf" target="_blank">PDF</a>
                        </p>
                        <p>
                            This is a heuristic evaluation that I completed for WRIT 4501 Usability and Human Factors in Technical Communication. This was a report in which I applied Jakob Nielsen’s <a href="http://www.useit.com/papers/heuristic/heuristic_list.html" target="_blank">10 web heuristics</a> to the client’s (Hennepin County Library) website. As an evaluator of the <a href="http://www.hclib.org" target="_blank">Hennepin County Library website</a>, I pointed out strengths in the site as well as areas for improvement. The conclusion of the report summarizes the complete evaluation.
                        </p>
                        <br>
                    </div>
                    <div class="writing-type">
                        <h3>Critical Literacy Project</h3>
                        <hr>
                        <p>
                            <a href="./assets/writing_projects/academic/critical_literacy_project.pdf" target="_blank">PDF</a>
                        </p>
                        <p>
                            This is a critical literacy paper that I wrote for WRIT 3244 Critical Literacies: How Words Change the World. This paper examines the progress (and failure) of the women’s rights movement in Afghanistan. The purpose of this project was to challenge my readers to think differently about justice, freedom, and equality in a post-911 world. I critically analyzed four presidential speeches from President Barack Obama and discussed how they challenged ideas about the logic of masculine protection, women’s rights, and the movement towards global democracy.
                        </p>
                        <br>
                    </div>
                    <div class="writing-type">
                        <h3>Food Security and Technology</h3>
                        <hr>
                        <p>
                            <a href="./assets/writing_projects/academic/food security and technology.pdf" target="_blank">PDF</a>
                        </p>
                        <p>
                            This is a paper that explores a current issue in science and technology that I wrote for WRIT 3152 Writing on Issues of Science and Technology. Specifically, it analyzes the public, scientific debate about food security and technology. In addition, it makes the argument for the transfer and access of biotechnology products for poor, malnourished people in Sub-Saharan Africa. The core of the food security debate in the 21st century is the issue of access to food and technological resources for agriculture. As you read through this paper, the important questions in this debate that you should think about are the following:
                        </p>
                        <ul>
                            <li>
                                Who will have access to the biotechnology products like genetically modified organisms?
                            </li>
                            <li>
                                What are the benefits, challenges, and risks of globalization and increased availability of such technology?
                            </li>
                        </ul>
                        <br>
                    </div>
                    <div class="writing-type">
                        <h3>Visual Rhetorical Analysis</h3>
                        <hr>
                        <p>
                            <a href="./assets/writing_projects/academic/Visual Rhetorical Analysis.pdf" target="_blank">PDF</a>
                        </p>
                        <p>
                            This is a visual rhetorical analysis of the <a href="http://www.bbc.com/news/" target="_blank">BBC news home page</a> that I wrote for WRIT 3671 Visual Rhetoric and Document Design.  This project includes an overview of the rhetorical situation (audience, purpose, and context) for the BBC news home page; an analysis of the intra-level, inter-level, and supra-level design elements on this page; and an analysis of the rhetorical strategies that this page uses, including arrangement, emphasis, clarity, ethos, and tone design strategies. At the end of the document, you will find screen shots of the BBC page with callout boxes that visually summarize the analysis.
                        </p>
                        <br>
                    </div>
                    <div class="writing-type">
                        <h3>Design Analysis of Wii Remote</h3>
                        <hr>
                        <p>
                            <a href="./assets/writing_projects/academic/design analysis wii.pdf" target="_blank">PDF</a>
                        </p>
                        <p>
                        This is a design analysis of the Nintendo Wii Remote, which I wrote for WRIT 4501 Usability and Human Factors in Technical Communication.  For this project, I selected an “everyday thing” from my house that has interesting usability aspects. Given the Nintendo Wii Remote, I identified and applied the following design principles from Donald Norman’s <cite>Design of EveryDay Things</cite>:
                        </p>
                        <ul>
                            <li>Conceptual model</li>
                            <li>Affordances</li>
                            <li>Constraints</li>
                            <li>Feedback</li>
                            <li>Mapping</li>
                        </ul>
                        <p>
                            In the conclusion of the paper, you will find an overall assessment of the Wii Remote’s everyday usability based on Donald Norman’s design principles and whether or not I find this object to be a good example of usability.
                        </p>
                        <br>
                    </div>
                    <div class="writing-type">
                        <h3>Public Concern about Salt</h3>
                        <hr>
                        <p>
                            <a href="./assets/writing_projects/academic/The War on Salt.pdf" target="_blank">PDF</a>
                        </p>
                        <p>
                            This is a paper that I wrote for WRIT 3152 Writing on Issues of Science and Technology. It was written to address the public concern and the politics behind the effects of salt in people’s diets. I wrote this paper to inform the public about a relevant, important issue in science and to go against the conventional wisdom that lowering salt intake in a person’s diet will increase health in the future. In other words, the popular response from the government and the FDA is to recommend lowering sodium consumption. In this paper, I argue that these public health recommendations from the government conflict with the uncertainty of science and the skepticism of epidemiological studies. This paper won me the Coaxley Ames Writing Award at the University of Minnesota in 2012. The award included a scholarship of $1000.
                        </p>
                        <br>
                    </div>
                    <div class="writing-type">
                        <h3>Textbook Cover Instructions</h3>
                        <hr>
                        <p>
                            <a href="./assets/writing_projects/academic/Textbook cover instructions.pdf" target="_blank">PDF</a>
                        </p>
                        <p>
                            This is a set of instructions that I put together for WRIT 3562 Technical and Professional Writing. It is a two-page instructional document that goes through the steps on how to cover a textbook with a grocery paper bag. I wrote these instructions for a high school and college audience, but younger students should be able to follow along with an adult’s help. Feel free to share these instructions with teachers, students, and others who may need a quick how-to on how to cover their textbooks for their classes so that books do not become damaged.
                        </p>
                        <br>
                    </div>
                </div>   
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="card page-right">
                <div class="card-header bg-primary text-white">
                    <h5>About my writing portfolio</h5>
                </div>
                <div class="card-body">
                    <p>In addition to coding, I also like to write. Over the years, I have developed a passion for writing, especially for the web. I enjoy taking complex, technical topics and breaking them down so that a non-technical person can understand them. In my writing portfolio, you’ll find a diverse selection of projects (both professional and academic). </p>
                </div>
            </div>
            <!--Link to download resume goes here-->
            {{> portfolio/resume-block}}

            <!--Links to social media-->
            {{> portfolio/social-block}}
        </div>
    </div>
</div>

<!--Footer-->
{{> portfolio/footer-block}}