#profile, #logout, #feed, .authenticated {
    display: none
}

.login-card {
    max-width: 60%;
    margin: 0 auto; 
    float: none; 
    margin-top: 120px;
}

.login-btn {
    margin-top: 20px;
    display: block;
}

.login-card .card-header {
    background-color: var(--dark);
    font-size: 22px;
}

.login-img {
    width: 200px;
    height: 225px;
    max-width: 100%;
    border: 2px solid black;
    margin-bottom: 20px;
    box-shadow: var(--shadow);
}

.info {
    margin-top: 20px;
}

.login-text {
    font-size: 20px;
}



