/* CSS Varibles  */
:root {
    --primary: dodgerblue;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

/* Navigation */
.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 1rem;
}

.main-nav a {
    background: var(--dark);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--light);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: var(--primary);
    color: var(--light);
    text-decoration: none;
}

/* Google font - Lato */
body {
    font-family: 'Lato', sans-serif;
}

.btn {
    background-color: var(--primary);
    text-transform: uppercase;
}

.btn:hover {
    background-color: var(--dark);
}

/* Live button color */
.live-btn {
    background-color: var(--primary);
}

.live-btn:hover {
    background-color: var(--dark);
}

/*GitHub Repo button color*/
.github-btn {
    background-color: var(--primary);
}

.github-btn:hover {
    background-color: var(--dark);
}

/*Styling for cards on portfolio page */
.project-card {
    border-style: solid;
    border-color: black;
}

.promotion-images {
	height: 150px;
	width: 150px;
}

/*Adding margin to the top of the portfolio cards so page doesn't look so cluttered*/
.card {
    margin-top: 40px;
    box-shadow: var(--shadow);
}

/*Add margin above contact section */
#lets-talk {
	margin-top: 20px;
}

/* Sticky footer */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #ccc !important;
  }

  main {
    flex: 1 0 auto;
  }

#headshot {
	width: 200px;
	height: 225px;
	max-width: 100%;
    border: 2px solid black;
}

#github-logo {
    width: 53px;
    height: 53px;
}


#linkedin-logo {
    width: 53px;
    height: 53px;
}


#facebook-logo {
    width: 53px;
    height: 53px;
}

#twitter-logo {
    width: 53px;
    height: 53px;
}

#angellist-logo {
    width: 53px;
    height: 53px;
}

.navbar-nav {
    display: inline-block;
}

.navbar {
    border-bottom: 5px solid dodgerblue;
}

.footer {
    border-top: 5px solid dodgerblue;
}

.nav-item {
	display: inline-block;
}

.card-img-top {
	width: 250px;
	max-width: 100%;
	height: 320px;
}

.navbar-nav {
	margin: 0 auto;
}

.contact-info {
	line-height: 30px;
}

/* Sticky footer code below*/

  .Site {
    /* display: flex; */
    min-height: 100vh;
    flex-direction: column;
  }
  
  .main-content-section {
    flex: 1;
    min-height: 100vh;
  }
 
  .toolbox-icon {
      width: 66px;
      height: 66px;
      border: 1px solid black;
      margin-top: 10px;
  }

  .card, hr {
      border: 1px solid black !important;
  }

  a {
    text-decoration: none;
  }

  /* Contact form style */
  #contact-form {
      padding: 2em;
  }

  /* Media Queries */
@media(max-width: 700px) {
    .main-nav ul {
        grid-template-columns: 1fr;
    }
}





