.promotion-images {
	height: 150px;
	width: 150px;
}

#name-block {
	margin-top: 130px;
}

/*Adding margin to the top of the portfolio cards so page doesn't look so cluttered*/
.card {
	margin-top: 40px;
}

/*Add margin above contact section */
#lets-talk {
	margin-top: 40px;
}

/* Sticky footer */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

#headshot {
	width: 250px;
	height: 250px;
	max-width: 100%;
}

#github-logo {
    width: 53px;
    height: 53px;
}


#linkedin-logo {
    width: 53px;
    height: 53px;
}


#facebook-logo {
    width: 53px;
    height: 53px;
}

#twitter-logo {
    width: 53px;
    height: 53px;
}

.navbar-nav {
	display: inline-block;
}

.nav-item {
	display: inline-block;
}

.card-img-top {
	width: 250px;
	max-width: 100%;
	height: 320px;
}

.navbar-nav {
	margin: 0 auto;
}

.contact-info {
	line-height: 30px;
}

/*offset content by the width of the side menu. 
Place the padding on where the offset content will be, which in our case is in navbar, #about, #portfolio, and #lets-tak */
main, #about, #lets-talk {
  padding-left: 330px;
  padding-right: 30px;
}


@media only screen and (max-width : 992px) {
  main, #about, #lets-talk  {
    padding-left: 0px;
  }
}

/*Takes effect when the browser's width is 987px or less.*/
@media screen and (max-width: 987px) {
	.card-img-top {
		width: 200px;
		max-width: 400px;
		height: 250px;
	}


/*Takes effect when the browser's width is 768px or less.*/
@media screen and (max-width: 768px) {
	.card-img-top {
		max-width: 300px;
		height: 280px;
	}

/*Takes effect when the browser's width is 640px or less.*/
@media screen and (max-width: 640px) {
	.card-img-top {
		max-width: 255px;
		height: 230px;
	}


